$color-white: #FFF;
$color-box-shadow: rgba(128, 128, 128, 0.5);
$color-text: rgba(128, 128, 128, 0.75);
$color-line: rgba(204, 204, 204, 0.25);
$color-purple: #bd53ef;
$color-light-pink: hsl(275, 100%, 97%);


$color-test: black;